@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left__login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #F7FAFC;
}

.left__login img {
    height: 43.5%;
}

.right__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.login__title {
    font-family: 'Merriweather', serif;
    text-align: left;
    line-height: 3em;
    margin-bottom: 25px;
    min-width: 25vw;
}

.login__title h1 {
    font-size: 1.5em;
}

.login__title h2 {
    font-size: 1.2em;
}

.login__form {
    min-width: 25vw;
}

.login__user, .login__password {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}

.login__user label , .login__password label {
    margin-bottom: 8px;
}

.login__user input , .login__password input {
    padding: 15px 7px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    transition: 500ms;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.219);
}

.login__user input:focus, .login__password input:focus {
    border: 1px solid transparent;
    box-shadow: none;
}

.login__request {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.login__request a {
    text-decoration: none;
    color: #0000ee;
}

.login__buttons {
    display: flex;
    flex-direction: column;
}

.login__buttons button {
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    transition: 500ms;
    cursor: pointer;
    width: 100%;
}

.login__buttons button:nth-child(1) {
    background-color: #04c35c;
}

.login__buttons button:nth-child(1):hover {
    box-shadow: 0px 0px 5px #04c35c;
}

.login__buttons button:nth-child(2) {
    display: flex;
    background-color: #1a202c;
    align-items: center;
    justify-content: center;
}

.login__buttons button:nth-child(2) img {
    max-width: 16px;
    margin: 0 3%;
}

.login__buttons button:nth-child(2):hover {
    box-shadow: 0px 0px 5px #1a202c;
}

.login__sign-up {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.login__sign-up a {
    text-decoration: none;
    color: #0000ee;
}

@media screen and (max-width: 800px) {
    .left__login {
        display: none;
    }

    .right__login {
        width: 100vw;
    }

    .login__form, .login__title {
        width: 90vw;
    }

}